.power {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e2d5e6;
	background-image: linear-gradient(315deg, #e2d5e6 0%, #e1d4e6 74%);
	color: red;
	padding: 10px;
	border-radius: 10px;

	&.isActive {
		color: darkviolet;
	}
}
